<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Work Life Tracker</title>
  <link rel="stylesheet" type="text/css" href="">
  <link rel="stylesheet" type="text/css" href="./css/styles.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
 

<body class='bg-blue-100 '>
  <div class='flex flex-col'>
    <span class="flex place-self-center">
      <nav class='py-2 border-2 border-solid border-white flex justify-around w-96'>
        <a class='px-2 bg-blue-300 hover:bg-blue-500 border-4 border-double border-black hover:border-solid hover:border-4'
          href="/">Home</a>

        {{#if logged_in}}
        <a class='px-2 bg-blue-300 hover:bg-blue-500 border-4 border-double border-black hover:border-solid hover:border-4' href="/login" id="logout">Logout</a>
        {{else}}
        <a class='px-2 bg-blue-300 hover:bg-blue-500 border-4 border-double border-black hover:border-solid hover:border-4'
          href="/login">Login</a>
        {{/if}}

      </nav>
    </span>
    <header class='my-12 flex place-self-center'>
      <h1 class='text-center text-4xl border-4 border-dashed border-black px-16'> LIFE IS SO EASY TO LIVE </h1>
    </header>
  </div>
  <main>
    <div class="content">
      {{{body}}}
    </div>
  </main>
  

  <script src="./js/index.js"></script>
  <script src="./js/contacts.js"></script>

  {{#if logged_in}}
  <script src="./js/logout.js"></script>
  {{/if}}
</body>

</html>