<span class='flex flex-col'>
  <span class='flex justify-around self-center my-8 border-4 border-solid border-black w-1/2'>

    <a class='hover:text-slate-300 focus:animate-ping' href='/notes'>
      Notes
    </a>
    <a class='hover:text-slate-300 focus:animate-ping' href="/calendar">
      <div>Calendar</div>
    </a>
    <a class='hover:text-slate-300 focus:animate-ping' href="/contacts">
      <div>Contacts</div>
    </a>

    <a class='hover:text-slate-300 focus:animate-ping' href="/todo">

      <div>Todo</div>
    </a>
  </span>
</span>
<p class='text-center text-6xl mb-6'>Calendar</p>
<div id="newEventmodal">
  <div class="calendar-addevent">
    <div class='bg-transparent'>
      <center>
        <h2 class="formTitle">Add a New Event</h2>
      </center>
      <form class="form  calendarContent m-4 bg-transparent" id="calendarContent">
        <div class="form-group m-2">
          <label for="title-event">Title</label><br />
          <input class="form-input border-2 border-solid border-black" type="text" id="title-event" /><br/><br/>
          <label for="start-event">Starting Date and Time</label><br />
          <input class="form-input border-2 border-solid border-black" type="datetime-local" id="start-event"
            name="start-event" min="2022-01-01T00:00" max="2025-12-31T00:00" /><br /><br />
          <label for="end-event">Ending Date and Time</label><br />
          <input class="form-input border-2 border-solid border-black" type="datetime-local" id="end-event"
            name="end-event" min="2022-01-01T00:00" max="2025-12-31T00:00" /><br/><br/>
            <center><button
              class="btn btn-primary px-2 rounded-lg bg-blue-300 border-black border-4 border-double hover:bg-blue-500 hover:border-solid hover:border-4"
              id="newEventBtn" type="submit">Add New Event</button></center>
        </div>
      </form>
    </div>

  </div>
<br/>
<hr>
<h1 class='text-center text-4xl py-4'>Your Calendar</h1>
<hr><br /><br />
<center><strong>To move an event, drag and drop it. <br />To delete an event, click it.</strong></center>


<div id="calendar" class="bg-zinc-100 m-10"></div>