<h1 class='text-center text-5xl'>Welcome to the Lifetracking apop</h1>
<span class='flex justify-between m-80 border-4 border-solid border-black'>
    <a class='' href="https://google.com">
        <div>Notes</div>
    </a>
    <a class='' href="https://google.com">
        <div>Calendar</div>
    </a>
    <a class='' href="https://google.com">
        <div>Contacts</div>
    </a>
    <a class='' href="https://google.com">
        <div>To DOs!</div>
    </a>


</span>