<section class="content">
<h1 class='text-center text-5xl'> Welcome to your Lifetracker! </h1>
<span class='flex justify-between m-40 border-4 border-solid border-black'>
    <a class='hover:text-red-400' href='/notes'>
        Notes
    </a>
    <a href="/calendar">
        <div>Calendar</div>
    </a>
    <a class='hover:text-red-400' href="/contacts">
        <div>Contacts</div>
    </a>
    <a class='' href="https://google.com">
        <div>To DOs!</div>
    </a>


</span>
</section>