<section id="login-content">
<div class='flex place-items-center justify-evenly'>

    

<!-- Trigger/Open The Modal -->
<div id="loginContainer">
<div class="loginCard"><button class="btn btn-primary px-2 rounded-lg bg-blue-300 border-black border-4 border-double hover:bg-blue-500 hover:border-solid hover:border-4" id="loginBtnOpen">&nbsp;&nbsp;Login Now&nbsp;&nbsp;</button><br/><br/><p><center><img src="./images/login.png"></center></p>
</div>


<!-- Trigger/Open The Modal -->
<div class="loginCard"><button class="btn btn-primary px-2 rounded-lg bg-blue-300 border-black border-4 border-double hover:bg-blue-500 hover:border-solid hover:border-4" id="signUpBtnOpen">&nbsp;&nbsp;Sign Up&nbsp;&nbsp;</button><br/><br/><p><center><img src="./images/signup.png"></center></p>
</div>
</div>

<!-- The SignUp Modal -->
<div id="signUpModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
       <div class=' border-black border-2 border-solid bg-zinc-100 ' id="login-content">
            <center><h2 class="formTitle">Sign Up</h2></center>
            
        <form class="form signup-form m-4 border-black border-2 bg-zinc-50 border-solid">
            <div class="form-group m-2">
                <label for="first-name-signup">First Name:</label><br/>
                <input class="form-input border-2 border-solid border-black" name="first_name" type="text"
                    id="first-name-signup" />
            </div>
            <div class="form-group m-2">
                <label for="last-name-signup">Last Name:</label><br/>
                <input class="form-input border-2 border-solid border-black" type="text" name="last_name"
                    id="last-name-signup" />
            </div>
            <div class="form-group m-2">
                <label for="display-name-signup">Username:</label><br/>
                <input class="form-input border-2 border-solid border-black" type="text" name="display_name"
                    id="display-name-signup" />
            </div>
            <div class="form-group m-2">
                <label for="email-signup">Email:</label><br/>
                <input class="form-input border-2 border-solid border-black" type="text" id="email-signup" />
            </div>
            <div class="form-group m-2">
                <label for="password-signup">Password:</label><br/>
                <input class="form-input border-2 border-solid border-black" type="password" id="password-signup"
                    autocomplete="off" />
            </div>
            <div class="form-group">
               <center> <button
                    class=" btn btn-primary px-2 m-2 rounded-lg bg-blue-300 border-black border-4 border-double hover:bg-blue-500 hover:border-solid hover:border-4"
                    id="signupBtn" type="submit">Sign-up</button>&nbsp; &nbsp; &nbsp;<button
                        class="btn btn-primary px-2 rounded-lg bg-blue-300 border-black border-4 border-double hover:bg-blue-500 hover:border-solid hover:border-4 close2">Cancel</span></center>
            </div>
        </form>
    </div>
</div>

</div>

<!-- The Login Modal -->
<div id="loginModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class=' border-black border-2 border-solid bg-zinc-100 ' id="login-content">
            <center><h2 class="formTitle">Login</h2></center>
            <form class="form login-form m-4 border-black border-2 bg-zinc-50 border-solid">
                <div class="form-group m-2">
                    <label for="email-login">Email</label><br/>
                    <input class="form-input border-2 border-solid border-black" type="text" id="email-login" />
                </div>
                <div class="form-group m-2">
                    <label for="password-login">Password</label><br/>
                    <input class="form-input border-2 border-solid border-black" type="password" id="password-login"
                        autocomplete="on" /><br /><br />
                </div>
                <div class="form-group m-2">
                    <center><button
                        class="btn btn-primary px-2 rounded-lg bg-blue-300 border-black border-4 border-double hover:bg-blue-500 hover:border-solid hover:border-4"
                        id="loginBtn" type="submit">Login</button>&nbsp; &nbsp; &nbsp;<button
                        class="btn btn-primary px-2 rounded-lg bg-blue-300 border-black border-4 border-double hover:bg-blue-500 hover:border-solid hover:border-4 close">Cancel</span></center>
                </div>
            </form>
        </div>

    </div>

</div>


 </section>