<div class='flex place-items-center justify-evenly'>

    <div class='border-black border-2 border-solid bg-zinc-100'>
        <h2 class='mx-2'>Sign-up</h2>

        <form class="form signup-form m-4 border-black border-2 bg-zinc-50 border-solid">
            <div class="form-group m-2">
                <label for="first-name-signup">First Name:</label>
                <input class="form-input border-2 border-solid border-black" name="first_name" type="text"
                    id="first-name-signup" />
            </div>
            <div class="form-group m-2">
                <label for="last-name-signup">Last Name:</label>
                <input class="form-input border-2 border-solid border-black" type="text" name="last_name"
                    id="last-name-signup" />
            </div>
            <div class="form-group m-2">
                <label for="display-name-signup">Username:</label>
                <input class="form-input border-2 border-solid border-black" type="text" name="display_name"
                    id="display-name-signup" />
            </div>
            <div class="form-group m-2">
                <label for="email-signup">Email:</label>
                <input class="form-input border-2 border-solid border-black" type="text" id="email-signup" />
            </div>
            <div class="form-group m-2">
                <label for="password-signup">Password:</label>
                <input class="form-input border-2 border-solid border-black" type="password" id="password-signup"
                    autocomplete="off" />
            </div>
            <div class="form-group">
                <button
                    class=" btn btn-primary px-2 m-2 rounded-lg bg-blue-300 border-black border-4 border-double hover:bg-blue-500 hover:border-solid hover:border-4"
                    id="signupBtn" type="submit">Sign-up</button>
            </div>
        </form>
    </div>
</div>

<!-- Trigger/Open The Modal -->
<button class="btn btn-primary px-2 rounded-lg bg-blue-300 border-black border-4 border-double hover:bg-blue-500 hover:border-solid hover:border-4" id="loginBtnOpen">Login Now!</button>

<!-- The login Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class=' border-black border-2 border-solid bg-zinc-100 ' id="login-content">
            <h2>Login</h2>
            <form class="form login-form m-4 border-black border-2 bg-zinc-50 border-solid">
                <div class="form-group m-2">
                    <label for="email-login">Email</label>
                    <input class="form-input border-2 border-solid border-black" type="text" id="email-login" />
                </div>
                <div class="form-group m-2">
                    <label for="password-login">Password</label>
                    <input class="form-input border-2 border-solid border-black" type="password" id="password-login"
                        autocomplete="on" />
                </div>
                <div class="form-group m-2">
                    <button
                        class="btn btn-primary px-2 rounded-lg bg-blue-300 border-black border-4 border-double hover:bg-blue-500 hover:border-solid hover:border-4"
                        id="loginBtn" type="submit">Login</button> <button
                        class="btn btn-primary px-2 rounded-lg bg-blue-300 border-black border-4 border-double hover:bg-blue-500 hover:border-solid hover:border-4 close">Cancel</span>
                </div>
            </form>
        </div>

    </div>

</div>

 