<section class=content>
    <a href="/notes">
        <header>Notes</header>
    </a>
</section>

{{#each notes as |note|}}
<h1 class='text-6xl'>its in</h1>
<p>{{note.title}}</p>
{{/each}}

<div class="container my-3">
    <h1>Take your Notes here</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Add a Note

            </h5>
            <div class="form-group">
                <textarea class="form-control" id="addTxt" rows="3">
                    </textarea>
            </div>
            <button class="btn btn-primary" id="addBtn" style="background-color:green">
                Add Note
            </button>
        </div>
    </div>
    <hr>
    <h1>Your Notes</h1>
    <hr>

    <div id="notes" class="row container-fluid">
    </div>
</div>

<script src="Project-2\public\js\script.js"></script>