<header class='text-center text-7xl'>Notes</header>


<div class="container my-3 text-center">
    <h1 class=''>Take your Notes here</h1>
    <div class="card">
        <div class="card-body flex flex-col place-content-center">

            <div class=" flex flex-col place-content-center">
                <label for="title">Note Title</label>
                <input class="self-center border-solid border-2 border-black" id="title" rows="3" />

                <textarea class="form-control self-center my-2 w-1/2" id="addTxt" rows="5">
                    </textarea>
            </div>
            <button class="btn btn-primary self-center" id="addBtn" style="background-color:green">
                Add Note
            </button>
        </div>
    </div>
    <hr>
    <h1 class='text-4xl'>Your Notes</h1>
    <hr>

    <div id="notes" class="row container-fluid flex flex-wrap justify-around">

        {{#each notes as |note|}}
        <span class='p-8 border-2 m-4 border-solid border-black'>
            <p class='text-center text-2xl'>{{note.title}}</p>
            <p class='text-center'>{{note.content}}</p>
            <button
                class='delete btn btn-primary px-2 rounded-lg bg-blue-300 border-black border-4 border-double hover:bg-blue-500 hover:border-solid hover:border-4'>
                Delete</button>
            <button
                class='update btn btn-primary px-2 rounded-lg bg-blue-300 border-black border-4 border-double hover:bg-blue-500 hover:border-solid hover:border-4'>update</button>
            <ul class='text-center'>Created at: {{format_date note.createdAt}}</ul>

            <ul class='text-center text-xs'>Last Update: {{format_date note.updatedAt}}</ul>
        </span>
        {{/each}}

    </div>
</div>