<span class='flex flex-col'>
  <span class='flex justify-around self-center border-4 border-solid border-black w-1/2'>

    <a class='hover:text-slate-300 focus:animate-ping' href='/notes'>
      Notes
    </a>
    <a class='hover:text-slate-300 focus:animate-ping' href="/calendar">
      <div>Calendar</div>
    </a>
    <a class='hover:text-slate-300 focus:animate-ping' href="/contacts">
      <div>Contacts</div>
    </a>

    <a class='hover:text-slate-300 focus:animate-ping' href="/toDo">

      <div>To DOs!</div>
    </a>
  </span>
</span>
<section class=content>
  <a href="/todo">
    <header>To Do List</header>
  </a>
</section>

<div id="myDIV" class="header">
  <h2>My To Do List</h2>
  <input type="text" id="todoTitle" placeholder="Title...">
  <button id="todoBtn" class="addBtn">Add</button>
</div>

<ul id="myList">

</ul>
{{#each todos}}
<li>{{name}}</li>
{{/each}}

<script src="/js/toDo.js"></script>