<section class=content>
  <a href="/todo">
    <header>To Do List</header>
  </a>
</section>

<ul id="myList">
  <li>Placeholder</li>
  <li>Placeholder</li>
  <li>Placeholder</li>
  <li>Placeholder</li>
  <li>Placeholder</li>
  <li>Placeholder</li>
</ul>