<section class=content>
  <a href="/todo">
    <header>To Do List</header>
  </a>
</section>

<div id="myDIV" class="header">
  <h2>My To Do List</h2>
  <input type="text" id="todoTitle" placeholder="Title...">
  <button id="todoBtn" class="addBtn">Add</button>
</div>

<ul id="myList">

</ul>
{{#each todos}}
<li>{{name}}</li>
  {{/each}}

<script src="/js/toDo.js"></script>